@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    box-sizing : border-box;
}
body{
    display : flex;
    font-family : 'Muli';
    align-items : center;
    justify-content : center;
    gap : 10px;
    height: 100vh;
    overflow : hidden;
}
.container{
    display : flex;
    width : 90vw;
}   
.panel {
    display : flex;
    flex : 0.5;
    height: 80vh;
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    color: #fff;
    position : relative;
    cursor: pointer;
    border-radius : 50px;
    overflow : hidden;
    margin: 10px;
    transition : flex 0.7s ease-in;


}
.panel h3{
    font-size : 24px;
    position : absolute;
    left: 10px;
    bottom : 10px;
    padding: 5px;
    margin : 0;
    opacity : 0;
}
.panel.active{
    flex : 5;
}
.panel.active > h3{
    opacity : 1;
    transition : opacity 0.3s ease-in delay;
}
@media(max-width : 480px){
    .container{
        width: 100vh;
    }
    .panel:nth-of-type(4) , .panel:nth-of-type(5){
        display : none;
    }
}